@import '../bootstrap/functions';
@import '../bootstrap/variables';

@import 'pages/index';
@import 'pages/login';
@import 'pages/show';

body{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    background: black;

}

.bg-black-transparent{
    background: rgba(#000000,0.8);
}